*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

i{
    display: block;
}

.container{
    margin: 0;
    background: red;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100vh;
}

.left-section{
    width: 10%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    text-align: center;
    background-color: blueviolet;
}

.middle-section{
    width: 80%;
}

.right-section{
    width: 10%;
    height: 100%;
}
