*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;

}

i{
    display: block;
}

.container{
    margin: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width:100%;
    height: 75vh;
}

.left-section{
    width: 3%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #490166;
}

.left-section i {
    width: 15px;
    height: 15px;
    border: 1px solid #2e0041;
    font-size: 10px;
    text-align: center;
    margin: 1px;
}

.middle-section{
    width: 94%;
}

.right-section{
    width: 3%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    background-color: #490166;
}

.right-box{
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    margin: 2px;
}

.right-box:nth-last-child(1){
    border: 2px solid #ffa600;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(73, 1, 102);
    color: #fff;
    height: 50px;
}

.right-middle-section{
    display: flex;
    gap: 30px;
    font-size: 0.6rem;
    font-weight: 600;
    margin: auto 0px;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    display: flex;
    gap: 10px;
}
.nav-bar div{
    padding: 0.45rem 0.75rem;
    transition: all 100ms ease;
    cursor: pointer;
}

.nav-bar div:hover{
    background: rgb(255, 166, 0);
    padding: 0.6rem 1rem;
    border-radius: 3px;
}

.fa-map-marker{
    color: #ffa600;
}

.logo{
    margin: auto 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo i{
    background-image: linear-gradient(blue,red);
    margin-right: 5px;
    font-size: 1.3rem;
}

.logo-writeup{
    font-weight: 600;
}

.hero-section img{
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: 0;
}

.hero-section .write-up{
    position: absolute;
    right: 290px;
    top: 270px;
    z-index: 1;

}

.btn{
    display: flex;
}

.hero-section p{
    font-weight: 1000;
    color: #f504cd;
    margin-top: 10px;
    font-size: small;
}

.hero-section h1{
    color: #490166;
    font-size: 3rem;
    margin-bottom: 25px;
}

.left-btn{
    width: 160px;
    height: 50px;
    padding: 20px;
    font-size: 0.7rem;
    font-weight: 600;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.left-btn:hover{
    box-shadow: 1px 0px 10px 1px #fcf6fb7a;
}

.right-btn{
    width: 140px;
    height: 50px;
    padding: 20px;
    font-size: 0.6rem;
    font-weight: 600;
    align-items: center;
    text-align: center;
    margin: auto 0px;
    background: #f504cd;
    color: #fff;
    cursor: pointer;
}

.right-btn:hover{
    box-shadow: 1px 0px 10px 1px #ff06d691;
}

/* //////////////////////// second section ////////////////////////////////// */

section{
    background-color: rgba(240, 230, 230, 0.61);
    height: 1000px;
    
}
.second-section{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    padding: 150px 240px 100px 240px;
}

.second-section .write-up{
    margin-bottom: 20px;
}

.third-section-right-box .top-text{
    font-weight: 1000;
    color: #f504cd;
    /* margin-top: 10px; */
    font-size: small;
}

.bottom-text{
    /* font-weight: 10000; */
    /* color: #f504cd; */
    margin-top: 10px 10px 10px 10px;
    font-size: 0.7rem;
}

.second-section .write-up h1{
    color: #490166;
    font-size: 1.8rem;
    margin-bottom: 2px;
}

.second-section .boxes{
    width: 1000px;
    height: 500px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.second-section-box {
    width: 220px;
    height: 80px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    background: #fff;
    border-radius: 2px;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
}

.three{
    margin-bottom: none !important;
}

.second-section-box .number{
  display: inline;
}

.number{
    border-radius: 50%;
    background: #ffa600;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 8px;
    /* margin: auto; */
    font-size: 0.9rem;
    font-weight: 900;
    padding: 0.8rem 1rem;
}

.img{
    width: 100px;
    height: 80px;
}

/* /////////////////////////////////// Third section /////////////////////////////// */

.third-section{
   position: absolute;
   top: 1200px;
   right: 0;
   margin-left: 200px;
   background-color: #fff;
   padding: 40px 240px 40px 40px;
}

.content-container{
    display: flex;
    gap: 45px;
    justify-content: space-between;
    overflow: hidden;
}

.third-section-left-box{
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 340px;

}

.first-img{
    width: 340px;
}

.third-section-left-box-second-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-section-left-box-second-box .write-up{
    padding: 20px 20px 20px 20px;
}

.third-section-left-box-second-box .write-up h3{
    font-size: 0.65rem;
    margin-bottom: 10px;
}

.third-section-left-box-second-box .write-up p{
    font-size: 0.6rem;
}
.second-img{
    width: 300px;
    height:120px;

}

.third-img{
    width: 390px;
}


.third-section-right-box{
    display: flex;
    flex-direction: column;
    gap: 31px;
    width: 500px;
    height: 482px;
}
.third-section-right-box .write-up .top-text{
    font-weight: 1000;
    color: #f504cd;
    /* margin-top: 10px; */
    font-size: small;
}

.third-section-right-box .write-up .bottom-text{
    /* font-weight: 10000; */
    /* color: #f504cd; */
    margin: 0px 0px;
    font-size: 0.7rem;
    max-width: 60ch;
    padding: 20px 0;
}

.second-section .write-up h1{
    color: #490166;
    font-size: 1.8rem;
    margin-bottom: 2px;
}

.bottom-btn{
    background: #f504cd;
    padding: 1rem 1rem;
    width: 200px;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color: #fff;
}


/* ///////////////////////////////////// Forth-section //////////////////////////////// */

.forth-section{
    width: 100%;
    height: 700px;
    background:rgb(73, 1, 102);
    padding: 350px;
    text-align: center;
}

.forth-section h3{
    color: #ff7300;
}

.forth-section h1{
    color: #ffffff;
    font-weight: 900;
    font-size: 2    .3rem;
}

.forth-section .boxes{
    display: flex;
    margin: 30px auto;
    align-items: center;
    justify-content: center;

}

.forth-section .boxes .box{
    width: 95px;
    height: 45px;
    border: 2px solid #2e0041;
    line-height: 3;
    color: #fff;
    font-size: 0.8rem;
    
}
